In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor

data = pd.read_csv('data/car.csv', index_col="car_ID")
data

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [2]:
feature_names = list(data.columns)
feature_names.remove("price")
X = data[feature_names]
y = data["price"]
X

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28
202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25
203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23
204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,six,145,idi,3.01,3.40,23.0,106,4800,26,27
205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25

In [3]:
X.isnull().sum().sum(), X.duplicated().any()  # Wow, looks like our data is clean to an extent

(0, False)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)
X_train

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
car_ID,,,,,,,,,,,,,,,,,,,,,
161,0,toyota corona,gas,std,four,sedan,fwd,front,95.7,166.3,...,four,98,2bbl,3.19,3.03,9.0,70,4800,38,47
99,2,nissan clipper,gas,std,two,hardtop,fwd,front,95.1,162.4,...,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37
128,3,porsche cayenne,gas,std,two,hardtop,rwd,rear,89.5,168.9,...,six,194,mpfi,3.74,2.90,9.5,207,5900,17,25
48,0,jaguar xj,gas,std,four,sedan,rwd,front,113.0,199.6,...,six,258,mpfi,3.63,4.17,8.1,176,4750,15,19
92,1,nissan rogue,gas,std,two,sedan,fwd,front,94.5,165.3,...,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,0,peugeot 504,gas,std,four,wagon,rwd,front,114.2,198.9,...,four,120,mpfi,3.46,2.19,8.4,95,5000,19,24
65,0,mazda 626,gas,std,four,hatchback,fwd,front,98.8,177.8,...,four,122,2bbl,3.39,3.39,8.6,84,4800,26,32
16,0,bmw x4,gas,std,four,sedan,rwd,front,103.5,189.0,...,six,209,mpfi,3.62,3.39,8.0,182,5400,16,22
126,3,porsche macan,gas,std,two,hatchback,rwd,front,94.5,168.9,...,four,151,mpfi,3.94,3.11,9.5,143,5500,19,27
10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,five,131,mpfi,3.13,3.40,7.0,160,5500,16,22

### Baseline model

In [5]:
def mae(X_tr, X_ts, y_tr, y_ts):
    model = LinearRegression()
    model.fit(X_tr, y_tr)
    pred = model.predict(X_ts)
    return mean_absolute_error(y_ts, pred)

### Feature Engineering

In [6]:
X['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [7]:
car_brands = X.CarName.str.split().str[0]
car_brands.value_counts()

CarName
toyota         31
nissan         17
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
volkswagen      9
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
alfa-romero     3
chevrolet       3
jaguar          3
vw              2
maxda           2
renault         2
toyouta         1
vokswagen       1
Nissan          1
mercury         1
porcshce        1
Name: count, dtype: int64

In [8]:
# Redundancy removal
r_vals = {'Nissan': 'nissan', 'toyouta': 'toyota', 'maxda': 'mazda', 'porcshce': 'porsche', 'vokswagen': 'volkswagen', 'vw': 'volkswagen'}
car_brands.replace(r_vals, inplace=True)
car_brands_list = car_brands.value_counts().index.to_numpy()
car_brands.value_counts()

CarName
toyota         32
nissan         18
mazda          17
mitsubishi     13
honda          13
volkswagen     12
subaru         12
peugeot        11
volvo          11
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
porsche         5
isuzu           4
jaguar          3
chevrolet       3
alfa-romero     3
renault         2
mercury         1
Name: count, dtype: int64

In [9]:
car_brands_en = pd.get_dummies(car_brands, prefix="car").astype('int64')
categories = "car_" + car_brands_list[:12]
car_brands_en

,car_alfa-romero,car_audi,car_bmw,car_buick,car_chevrolet,car_dodge,car_honda,car_isuzu,car_jaguar,car_mazda,...,car_nissan,car_peugeot,car_plymouth,car_porsche,car_renault,car_saab,car_subaru,car_toyota,car_volkswagen,car_volvo
car_ID,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
car_brands_en_train = car_brands_en.loc[X_train.index, categories]
car_brands_en_test = car_brands_en.loc[X_test.index, categories]
car_brands_en_train.shape, car_brands_en_test.shape

((164, 12), (41, 12))

In [11]:
car_brands_en_train

,car_toyota,car_nissan,car_mazda,car_mitsubishi,car_honda,car_volkswagen,car_subaru,car_peugeot,car_volvo,car_dodge,car_buick,car_bmw
car_ID,,,,,,,,,,,,
161,1,0,0,0,0,0,0,0,0,0,0,0
99,0,1,0,0,0,0,0,0,0,0,0,0
128,0,0,0,0,0,0,0,0,0,0,0,0
48,0,0,0,0,0,0,0,0,0,0,0,0
92,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
114,0,0,0,0,0,0,0,1,0,0,0,0
65,0,0,1,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,1
126,0,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 161 to 10
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         164 non-null    int64
 1   CarName           164 non-null    object
 2   fueltype          164 non-null    object
 3   aspiration        164 non-null    object
 4   doornumber        164 non-null    object
 5   carbody           164 non-null    object
 6   drivewheel        164 non-null    object
 7   enginelocation    164 non-null    object
 8   wheelbase         164 non-null    float64
 9   carlength         164 non-null    float64
 10  carwidth          164 non-null    float64
 11  carheight         164 non-null    float64
 12  curbweight        164 non-null    int64
 13  enginetype        164 non-null    object
 14  cylindernumber    164 non-null    object
 15  enginesize        164 non-null    int64
 16  fuelsystem        164 non-null    object
 17  boreratio         164 non-null    float64
 18  stroke            164 non-null    float64
 19  compressionratio  164 non-null    float64
 20  horsepower        164 non-null    int64
 21  peakrpm           164 non-null    int64
 22  citympg           164 non-null    int64
 23  highwaympg        164 non-null    int64
dtypes: float64(7), int64(7), object(10)
memory usage: 32.0+ KB

##### View structure of all categorical columns

In [13]:
X_train["fueltype"].value_counts()

fueltype
gas       151
diesel     13
Name: count, dtype: int64

In [14]:
X_train["aspiration"].value_counts()

aspiration
std      134
turbo     30
Name: count, dtype: int64

In [15]:
X_train["doornumber"].value_counts()

doornumber
four    94
two     70
Name: count, dtype: int64

In [16]:
X_train["carbody"].value_counts()

carbody
sedan          78
hatchback      54
wagon          20
hardtop         7
convertible     5
Name: count, dtype: int64

In [17]:
X_train["drivewheel"].value_counts()

drivewheel
fwd    99
rwd    57
4wd     8
Name: count, dtype: int64

In [18]:
X_train["enginelocation"].value_counts()

enginelocation
front    161
rear       3
Name: count, dtype: int64

In [19]:
X_train["enginetype"].value_counts()

enginetype
ohc      121
ohcf      14
dohc      10
l          9
ohcv       8
rotor      2
Name: count, dtype: int64

In [20]:
X["cylindernumber"].value_counts()

cylindernumber
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: count, dtype: int64

In [21]:
cylinder_dict = {'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'eight': 8, 'twelve': 12}
X_train["cylindernumber"].replace(cylinder_dict, inplace=True)
X_test["cylindernumber"].replace(cylinder_dict, inplace=True)
X_train["cylindernumber"].dtype, X_test["cylindernumber"].dtype

(dtype('int64'), dtype('int64'))

In [22]:
X_train["fuelsystem"].value_counts()

fuelsystem
mpfi    74
2bbl    56
idi     13
spdi     9
1bbl     9
4bbl     2
mfi      1
Name: count, dtype: int64

#### Final Feature Selection

In [23]:
X_train = pd.concat([X_train, car_brands_en_train], axis=1)
X_test = pd.concat([X_train, car_brands_en_test], axis=1)
X_train

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,car_mazda,car_mitsubishi,car_honda,car_volkswagen,car_subaru,car_peugeot,car_volvo,car_dodge,car_buick,car_bmw
car_ID,,,,,,,,,,,,,,,,,,,,,
161,0,toyota corona,gas,std,four,sedan,fwd,front,95.7,166.3,...,0,0,0,0,0,0,0,0,0,0
99,2,nissan clipper,gas,std,two,hardtop,fwd,front,95.1,162.4,...,0,0,0,0,0,0,0,0,0,0
128,3,porsche cayenne,gas,std,two,hardtop,rwd,rear,89.5,168.9,...,0,0,0,0,0,0,0,0,0,0
48,0,jaguar xj,gas,std,four,sedan,rwd,front,113.0,199.6,...,0,0,0,0,0,0,0,0,0,0
92,1,nissan rogue,gas,std,two,sedan,fwd,front,94.5,165.3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,0,peugeot 504,gas,std,four,wagon,rwd,front,114.2,198.9,...,0,0,0,0,0,1,0,0,0,0
65,0,mazda 626,gas,std,four,hatchback,fwd,front,98.8,177.8,...,1,0,0,0,0,0,0,0,0,0
16,0,bmw x4,gas,std,four,sedan,rwd,front,103.5,189.0,...,0,0,0,0,0,0,0,0,0,1
126,3,porsche macan,gas,std,two,hatchback,rwd,front,94.5,168.9,...,0,0,0,0,0,0,0,0,0,0
10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,0,0,0,0,0,0,0,0,0,0

### Pipelines and transformers

In [24]:
categorical_cols = [val for val in X_train.columns if X_train[val].dtype == 'object' and X_train[val].nunique() > 2]
binary_categorical_cols = [val for val in X_train.columns if X_train[val].dtype == 'object' and X_train[val].nunique() == 2]
numerical_cols = [val for val in X_train.columns if X_train[val].dtype != 'object']
preprocessors = ColumnTransformer(transformers=[])
categorical_cols

['CarName', 'carbody', 'drivewheel', 'enginetype', 'fuelsystem']

In [25]:
pipeline = Pipeline()

TypeError: Pipeline.__init__() missing 1 required positional argument: 'steps'